@using TP07.Models
@{
    ViewData["Title"] = "Editar Tarea";
    Tarea tarea = ViewBag.tarea as Tarea;
}

<h2>Editar Tarea</h2>

<form action='@Url.Action("EditarTareaGuardar","Home")' method="post">
    <input type="hidden" name="id" value="@tarea.ID" />

    Título: <input type="text" name="titulo" value="@tarea.titulo" />
    Descripción: <input type="text" name="descripcion" value="@tarea.descripcion" />
    Fecha: <input type="date" name="fecha" value="@tarea.fecha.ToString("yyyy-MM-dd")" />

    Finalizada:
     <input type="radio" name="finalizada" value="true" /> Sí
    <input type="radio" name="finalizada" value="false" /> No
    <input type="submit" value="Guardar cambios" />
</form>

<a href='@Url.Action("cargarTareas","Home")'>Volver</a>