@using TP07.Models
@{
    ViewData["Title"] = "Editar Tarea";
    Tarea tarea = ViewBag.tarea as Tarea;
}

<div class="container">
  <h2 class="page-title">Editar Tarea</h2>

<form class="form card" action='@Url.Action("EditarTareaGuardar","Home")' method="post">
    <input type="hidden" name="id" value="@tarea.ID" />

    Título: <input type="text" name="titulo" value="@tarea.titulo" />
    Descripción: <input type="text" name="descripcion" value="@tarea.descripcion" />
    Fecha: <input type="date" name="fecha" value="@tarea.fecha.ToString("yyyy-MM-dd")" />

    Finalizada:
     <input type="radio" name="finalizada" value="true" /> Sí
    <input type="radio" name="finalizada" value="false" /> No
    <input type="submit" value="Guardar cambios" />
</form>
<a class="btn btn-soft" href='@Url.Action("cargarTareas","Home")'>Cancelar</a>