@{
    ViewData["Title"] = "ListaTareas";
}

@foreach(Tarea TareaVer in ViewBag.ListaTareas)
{
    @TareaVer.titulo;
    @TareaVer.descripcion;
    @TareaVer.fecha;
    @TareaVer.finalizada;

    <section class="FinalizarTareas"> 
     <a href='@Url.Action("finalizarTarea", "Home")'></a>
    </section>

    <section class="ModificarTareas"> 
    <a href='@Url.Action("EditarTareaGuardar", "Home")'></a>
    </section>

    <section class="EliminarTareas"> 
    <a href='@Url.Action("eliminarTarea", "Home")'></a>
    </section>

}

<section class="crearTareas"> 
  <a href='@Url.Action("EditarTareaGuardar", "Home")'></a>
</section>